label {
    padding: 10px 20px;
    margin-top: 10px;
}
input {
    width: 210px;
    height: 35px;
    padding: 9px;
    margin-top: 15px;
}
button {
    width: 80px;
    height: 35px;
    background-color:#21cfcb;
    margin-top: 15px;
    color: white;
    border-radius: 3px;
    border: none;
}
ul {
    margin-left:200px;
    
}
li {
    padding: 10px 15px;
}
#app{
 margin-left: 70px;
    font-size: 60px;
    font-family: Garamond;
}
#app1 {
    margin-left: 100px;
}
#app2 {
    width: 210px;
    height: 50px;
}
#app3 {
    height: 50px;
    width: 130px;
}
img {
    margin-right:100px;
    margin-top: 80px;
}
#app5 {
    margin-top: 350px;
    font-size: 60px;
    font-family: Garamond;
    margin-left: 70px;   
}
#app6 {
    margin-left: 50px;
    padding-left: 20px;
   text-align: center;
}
#app10 {
    padding-bottom: 130px;
    margin-bottom: 10px;
}
form1 {
    margin-top: 50px;
}
#app11 {
    margin-top: 50px;
}
#app12  {
    margin-top: 60px;
}
#box {
    resize:both;
    overflow: auto;
}